
@{
    ViewData["Title"] = "Mensaje";
    Layout = "~/Views/Shared/_LayoutClienteMensaje.cshtml";
}

<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Registro Satisfactorio  <i class="fa fa-check-circle-o" style="color: #7fad39 !important;"></i></h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Se enviaran las credenciales a tu correo @ViewBag.Correo &#59; para que puedas acceder a nuestra plataforma a cagar toda la infomacion de tu Negocio.</p>
                </div>
            </div>
        </form>
    </div>
</div>

